name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.75.0  # MSRV check
          components: clippy, rustfmt

      - name: Downgrade dependencies for MSRV
        run: |
          cargo generate-lockfile
          cargo update -p url --precise 2.5.0
          cargo update -p idna --precise 1.0.3

      - name: Rustfmt
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test --verbose

  semver:
    name: SemVer Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Check SemVer
        uses: obi1kenobi/cargo-semver-checks-action@v2
